<html>

<head>
<title>Title</title>
</head>

<body>

<p><a class="twitter-timeline" href="https://twitter.com/ltpm_mx?ref_src=twsrc%5Etfw">Tweets by ltpm_mx</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>

<!--begin.rcode
summary(cars)
end.rcode-->

<p>You can also embed plots, for example:</p>

<!--begin.rcode fig.width=7, fig.height=6
plot(cars)
end.rcode-->

</body>
</html>
